

/* About Me Style Section*/
.headshot {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding: 2em;
  float: left;
 }

.dropShadow{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #0d1163;
}

