html{
  font-family:'Acumin Pro', Tahoma, Geneva, Verdana, sans-serif !important;
}
.img-fluid{
  max-width: 100%;
  height: auto;

}


/* Parallax Effect */

.hero {
  background-image: url('../assets/background_lines.png');
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* About Me Style Section*/
.headshot {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding: 2em;
  float: left;
 }

.dropShadow{

  padding: 10px;
  box-shadow: 5px 10px #0d1163;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .hero {
    background-attachment: scroll;
    min-height: 600px;
  }